# Ambientes virtuais
.venv/
venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Variáveis de ambiente
.env

# Pesos do modelo (muito pesados para o git)
lora-adapter/
results/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
